body{
	background-image:url("images/bg.jpg");
	font-family:Droid Sans;
}
/* LIST*/
*{
	margin:0;
	padding:0;
}

li{
	margin-top:20px;
	margin-bottom:10px;
	background-color:#1385ab;
	list-style:none;
	float:left;
	width:33.33%;
	text-align:center;
	font-size:40px;
	height:80px;
	line-height:80px;
}

li:hover{
	background-color:#3f8faa;
}

a{
	text-decoration:none;
	color:white;
}

a:hover{
	text-decoration:underline;
}

#batas{
	margin:20px
}

#box{
	width:1150px;
	height:1520px;
	background-color:rgba(19, 133, 171, 0.7);
	margin-left:105px;
	margin-bottom:190px;
}

.logo{
	text-align:center;
	margin-top:-450px;
}

#kata{
	text-align:center;
	font-size:45px;
	margin-top:-1320px;
	color:white;
	letter-spacing:5px;
	word-spacing:5px;
}

#bahan{
	text-align:center;
	margin-left:550px;
	color:black;
	font-size:35px;
	margin-top:200px;
	width:250px;
	height:50px;
	background-color:yellow;
}

.daftar{
	color:white;
	text-align:center;
	font-size:25px;
	margin-top:20px;
}

#cara{
	text-align:center;
	margin-left:550px;
	color:black;
	font-size:35px;
	margin-top:100px;
	width:250px;
	height:50px;
	background-color:yellow;
}

.buat{
	color:white;
	text-align:center;
	font-size:25px;
	margin-top:20px;
}

#saran{
	text-align:center;
	margin-left:550px;
	color:black;
	font-size:35px;
	margin-top:100px;
	width:250px;
	height:50px;
	background-color:yellow;
}

.saji{
	color:white;
	text-align:center;
	font-size:25px;
	margin-top:20px;
}

#selamat{
	color:white;
	text-align:center;
	margin-left:-60px;
	font-size:30px;
	margin-top:70px;
}

.anim{
	margin-left:750px;
	margin-top:-70px;
}

#cp{
	margin-top:140px;
	color:white;
	text-align:center;
}

.contact{
	text-align:center;
	margin-top:10px;
}

#foot{
	margin-top:30px;
	margin-bottom:20px;
	width:1349px;
	height:85px;
	background-color:#1385ab;
	color:white;
	text-align:center;
	line-height:85px;
}
